.hero {
  position: relative;
  padding: 40px;
  border-radius: 12px;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('foneMer.jpg') center/cover no-repeat;
  filter: brightness(2.1); /* фильтр только на фоне */
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1; /* текст поверх фона */
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 10px 15px;
  background: #2e7d32;   /* тёмно-зелёный */
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  font-size: 2.5vw;
}

.btn:hover,
.btn:active {
  background: #1b5e20;   /* ещё более тёмный при наведении/клике */
}
