.hero {
  position: relative;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url('foneMer.jpg') center/cover no-repeat;
  filter: brightness(2.1);
  z-index: 0;
}
.hero-content {
  position: relative;
  z-index: 1; /* текст и кнопки поверх */
}

